.ranimeenhanced input {
  padding: 4px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: grey;
}
.showallcommentfaces, .showrecentcommentfaces {
  border-radius: 5px;
  padding:4px;
  border: 2px solid lightgrey;
  cursor:default;
  color:grey !important;
}
.showallcommentfaces:hover, .showrecentcommentfaces:hover {
  color:darkgrey !important;
}
.commentfacetext {
  border: 2px dashed lightgrey;
}
.commentfacesearch, .aniListSearch {
  border: 2px solid lightgrey;
}
.commentfacewrapper {
  height:250px;
  display:none;
  overflow:hidden;
}
.commentfacecontainer {
  width:100%;
  height:100%;
  overflow-y:scroll;
  padding-right:17px;
  box-sizing:content-box;
}
.addCommentface {
  display: inline-block!important;
  position: relative!important;
  overflow: initial !important;
  text-align: center !important;
  font-family: arial,sans-serif !important;
  font-size: 18px!important;
  color: white!important;
  text-shadow: 1px 1px #000,1px -1px #000,-1px 1px #000,-1px -1px #000,0 1px #000,0 -1px #000,1px 0 #000,-1px 0 #000!important;
  cursor: default!important;
  vertical-align: bottom !important;
}
.anilistsearchimg {
  width:80px;
}
.browseAniListtable {
  width:100%;
}
.browseAniListtable tr:nth-child(even) {
  background:Ivory;
}
.browseAniListtable tr:nth-child(odd) {
  background:Azure;
}
.browseAniListtable  td {
   text-align:center;
}
